.accordion-item {
    border: 0;
    border-radius: 0 !important;

    & + .accordion-item {
        margin-top: 1.5rem;
        @include lg-up {
            margin-top: 2rem;
        }
    }
    &:first-of-type {
        .accordion-button {
            border-radius: 0;
        }
    }
    .accordion-button {
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;    
        border: 1px solid var(--ai-color-slate);
        font-size: 1rem;
        transition: all .15s ease;
        position: relative;
        font-size: 0.875rem;
        @include lg-up {
            font-size: 1rem;
        }
        &::after {
            position: absolute;
            content: '';
            bottom: -10px;
            right: -10px;
            background-image: none;
            width: 10px;
            height: 10px;
            border-left: 1px solid var(--ai-color-slate);
            border-top: 1px solid var(--ai-color-slate);
            transform: inherit;
        }
        &::before {
            position: absolute;
            content: '';
            top: -10px;
            left: -10px;
            width: 10px;
            height: 10px;
            border-right: 1px solid var(--ai-color-slate);
            border-bottom: 1px solid var(--ai-color-slate);

        }
        &:not(.collapsed){
            color: var(--ai-color-primary);
            border-color: var(--ai-color-primary);
            &::after, &::before {
                border-color: var(--ai-color-primary);
            }
        }
    }
    .accordion-body {
        padding: 1rem 1.25rem 0 1.25rem;
        font-size: 1rem;
        @include lg-up {
            font-size: 1.125rem;
            padding: 1.5rem 1.25rem 0 1.25rem;
        }
    }
    &.second_style {
        .accordion-button {
            border: 0;
            background-color: var(--ai-color-white-200);
            color: var(--ai-color-text);
            font-size: 1.125rem;
            &::before {
                border: 0;
            }
            &::after {
                border: 0;
            }
            &:not(.collapsed) {
                color: var(--ai-color-text);
            }
            .count {
                display: inline-block;
                font-size: 2.75rem;
                font-weight: 700;
                font-family: var(--ai-heading-font-family);
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px var(--ai-color-black);
                margin-right: 1.25rem;
            }
        }
        & + .second_style {
            margin-top: 1.25rem;
        }
    }
}