// section title style here
.section_title {
    margin-bottom: 40px;
    @include xl-up {
        margin-bottom: 60px;
    }
    .sub_title {
        font-size: 16px;
        line-height: 1.6;
        font-weight: 700;
        color: var(--mr-color-red);
        padding-left: 20px;
        position: relative;
        display: block;
        margin-bottom: 16px;
        @include xl-up {
            font-size: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            background: var(--mr-color-red);
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    .title {
        font-size: 40px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 16px;
        @include xl-up {
            font-size: 62px;
        }
    }
    .text {
        color: var(--mr-color-white-200);
        @include xl-up {
            max-width: 545px;
        }
    }
}