/*------------------------------------------------------------------
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of Contents]

1.  Root Variables
2.  SCSS Mixins 
3.  Base / Site Typography Settings
4.  Components Styles
5.  Animations Keyframes
6.  Template Layouts / Pages

/*------------------------------------------------------------------
[1. Root Variables]
------------------------------------------------------------------*/
:root {
  /* Global typography */
  --mr-global-font-family: "Roboto", serif;
  --mr-global-font-size: 1rem;
  --mr-global-font-weight: 400;
  --mr-global-font-style: normal;
  --mr-global-line-height: 1.7;
  --mr-global-text-transform: none;
  --mr-global-letter-spacing: 0;
  --mr-global-word-spacing: 0;
  /** Heading Typography **/
  --mr-heading-font-family: "Bebas Neue", sans-serif;
  --mr-heading-font-weight: 400;
  --mr-heading-font-style: normal;
  --mr-heading-line-height: 1.4 ;
  --mr-heading-text-transform: none;
  --mr-heading-letter-spacing: 0;
  --mr-heading-word-spacing: 0;
  --mr-rtl-font: "Cairo", sans-serif;
  --mr-scripts-font: "Teko", sans-serif;
  --mr-fontAwesome: "Font Awesome 5 Pro";
  /** Other Font **/
  --mr-inter-font: "Inter", serif;
  --mr-raleway-font: "Raleway", serif;
  --mr-montserrat-font: "Montserrat", sans-serif;
  /** Colors **/
  --mr-color-primary: #FEBF00;
  --mr-color-secondary: #0A1425;
  --mr-color-white: #ffffff;
  --mr-color-white-200: #F7F8F9;
  --mr-color-red: #B52B1D;
  --mr-color-black: #000000;
  --mr-color-black-300: #333333;
  --mr-color-gray: #FBF7F2;
}

/*------------------------------------------------------------------
[2. SCSS Mixins ]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[3. Base / Site Typography Settings]
------------------------------------------------------------------*/
html {
  font-size: 100%;
}

body {
  background-color: white;
  font-family: var(--mr-global-font-family);
  font-size: var(--mr-global-font-size);
  line-height: var(--mr-global-line-height);
  color: var(--mr-color-text);
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-display: swap;
  position: relative;
}

/*-------------------------------------------------
    [ ## Typography ]
---------------------------------------------------*/
p {
  font-size: var(--mr-global-font-size);
  line-height: var(--mr-global-line-height);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--mr-heading-font-family);
  font-size: 1rem;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Heading
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: var(--mr-heading-font-family);
  line-height: var(--mr-heading-line-height);
  color: var(--mr-color-secondary);
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: inherit;
  text-decoration: none;
}

::-moz-selection {
  background-color: var(--mr-color-secondary);
  color: white;
}

::selection {
  background-color: var(--mr-color-secondary);
  color: white;
}

.container, .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

/**
 * Hide text while making it readable for screen readers
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 */
.figure, figure {
  display: block;
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
}

.section_title {
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .section_title {
    margin-bottom: 60px;
  }
}
.section_title .sub_title {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: var(--mr-color-red);
  padding-left: 20px;
  position: relative;
  display: block;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .section_title .sub_title {
    font-size: 20px;
  }
}
.section_title .sub_title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: var(--mr-color-red);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.section_title .title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .section_title .title {
    font-size: 62px;
  }
}
.section_title .text {
  color: var(--mr-color-white-200);
}
@media screen and (min-width: 1200px) {
  .section_title .text {
    max-width: 545px;
  }
}

/*------------------------------------------------------------------
[4. Components Styles]
------------------------------------------------------------------*/
.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--mr-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader .text {
  display: block;
  padding: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font: 500 18px var(--mr-heading-font-family);
}
.preloader .loadbar {
  --animation-speed:	2s;
  display: block;
  position: relative;
  width: 16px;
  height: 4px;
  margin: 10px auto;
  background: var(--mr-color-primary);
  animation-name: loader;
  animation-duration: var(--animation-speed);
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.preloader .loadbar::before, .preloader .loadbar::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--mr-color-primary);
  animation-duration: var(--animation-speed);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.preloader .loadbar::before {
  left: 0;
  translate: -100% -50%;
  border-right-color: transparent;
  animation-name: loader-left;
}
.preloader .loadbar::after {
  right: 0;
  translate: 100% -50%;
  border-left-color: transparent;
  animation-name: loader-right;
}
@keyframes loader {
  0%, 10% {
    scale: 1;
  }
  15% {
    scale: 0.7 1.2;
  }
  40%, 60% {
    scale: 1;
  }
  65% {
    scale: 0.7 1.2;
  }
  100% {
    scale: 1;
  }
}
@keyframes loader-left {
  0% {
    translate: -400% -50%;
    scale: 1.3 0.6;
  }
  10%, 60% {
    translate: -100% -50%;
    scale: 1;
  }
  65%, 85% {
    translate: -300% -50%;
  }
  87.5% {
    translate: -310% -50%;
  }
  90% {
    translate: -290% -50%;
  }
  92.5% {
    translate: -310% -50%;
    scale: 1;
  }
  95% {
    translate: -290% -50%;
  }
  100% {
    translate: -400% -50%;
  }
}
@keyframes loader-right {
  0%, 10% {
    translate: 100% -50%;
    scale: 1;
  }
  15%, 35% {
    translate: 300% -50%;
  }
  15% {
    scale: 1.3 0.6;
  }
  20% {
    scale: 1;
  }
  37.5% {
    translate: 310% -50%;
  }
  40% {
    translate: 290% -50%;
  }
  42.5% {
    translate: 310% -50%;
  }
  45% {
    translate: 290% -50%;
    scale: 1;
  }
  50% {
    translate: 400% -50%;
    scale: 1.3 0.6;
  }
  60%, 100% {
    translate: 100% -50%;
    scale: 1;
  }
}

.topbutton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--mr-color-primary);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1024;
  color: white;
  transition: all 0.15s linear;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}
@media screen and (min-width: 992px) {
  .topbutton {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
  }
}
.topbutton:hover {
  background-color: var(--mr-color-primary);
  color: white;
}
.topbutton.btn-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* From Uiverse.io by gharsh11032000 */
.primary_solid_btn {
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  border-radius: 6px;
  font-weight: 700;
  color: var(--mr-color-secondary);
  font-family: var(--mr-global-font-family);
  background: var(--mr-color-primary);
  padding: 12px 30px;
  border-radius: 0;
  display: inline-block;
  font-size: 15px;
  line-height: 1;
}
@media screen and (min-width: 1200px) {
  .primary_solid_btn {
    font-size: 18px;
    padding: 15px 28px;
  }
}
.primary_solid_btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--mr-color-secondary);
  height: 250px;
  width: 300px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.primary_solid_btn:hover {
  color: var(--mr-color-white);
}
.primary_solid_btn:hover::before {
  top: -90px;
  left: -20px;
}

/*-------------------------------------------------
    [ ## Fields ]
---------------------------------------------------*/
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=search]:focus {
  outline: none;
  box-shadow: none;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.form-control {
  box-shadow: none;
  padding: 12px 16px;
  background: none;
  border: 1px solid var(--mr-color-white);
  border-radius: 0;
}
.form-control:focus {
  border-color: var(--mr-color-primary);
  background: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-text-fill-color: white !important;
}

textarea.form-control {
  display: block;
  width: 100%;
  display: block;
  min-height: 150px;
  padding: 15px;
}
textarea.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-floating > .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

::-webkit-input-placeholder {
  color: var(--mr-color-white);
  font-size: 14px;
  font-family: var(--mr-global-font-family);
  opacity: 1;
}

:-moz-placeholder {
  color: var(--mr-color-white);
  font-size: 14px;
  font-family: var(--mr-global-font-family);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--mr-color-white);
  font-size: 14px;
  font-family: var(--mr-global-font-family);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--mr-color-white);
  font-size: 14px;
  font-family: var(--mr-global-font-family);
  opacity: 1;
}

.input-group {
  border: 1px solid var(--mr-color-slate);
}
.input-group input {
  border: 0;
  min-height: 40px;
}
.input-group .input-group-text {
  background-color: transparent;
  border: 0;
}

/*------------------------------------------------------------------
[5. Animations Keyframes]
------------------------------------------------------------------*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anim-vibrate {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 213, 3);
  }
  70% {
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/*------------------------------------------------------------------
[6. Template Layouts / Pages]
------------------------------------------------------------------*/
/*--------------------------------------------------------------
    [ ## 6.1 Header ]
--------------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2024;
  transition: all 0.3s ease;
}
header.primary_header {
  padding: 0.5rem 0;
}
@media screen and (min-width: 1400px) {
  header.primary_header {
    padding: 1.325rem 0;
  }
}
header.primary_header .header_left {
  gap: 60px;
}
header.primary_header .navbar {
  display: none;
}
@media screen and (min-width: 992px) {
  header.primary_header .navbar {
    display: flex;
  }
}
header.primary_header .navbar-nav .nav-item + .nav-item {
  margin-left: 40px;
}
header.primary_header .navbar-nav .nav-link {
  font-size: 15px;
  color: var(--mr-color-white);
  font-family: var(--mr-raleway-font);
  font-weight: 500;
  position: relative;
  padding: 0;
}
header.primary_header .navbar-nav .nav-link::before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: gold;
  content: "";
  transition: 0.3s;
}
header.primary_header .navbar-nav .nav-link:hover::before {
  width: 100%;
  left: auto;
  right: 0;
}
header.primary_header .mobile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  header.primary_header .mobile_header {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
}
header.primary_header .mobile_header .logo a {
  display: block;
}
header.primary_header .mobile_header .logo .main-logo {
  max-width: 3rem;
}
header.primary_header .mobile_header .sidebar_toggler {
  color: var(--mr-color-white);
  font-family: var(--mr-fontAwesome);
}
header.primary_header .mobile_header .sidebar_toggler i {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
}
@media screen and (min-width: 992px) {
  header.primary_header .mobile_header {
    display: none;
  }
}
header.primary_header.sticky.primary_header {
  background: var(--mr-color-red);
  padding: 0.5rem;
}

.offcanvas-menu {
  position: fixed;
  top: 0;
  right: -310px;
  bottom: 0;
  background-color: white;
  z-index: 2024;
  width: 300px;
  transition: all 0.2s ease-in-out;
  overflow-y: scroll;
}
@media screen and (min-width: 992px) {
  .offcanvas-menu {
    display: none;
  }
}
.offcanvas-menu .menu-header {
  background-color: var(--mr-color-red);
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mr-color-primary);
}
.offcanvas-menu .menu-header .navbar-brand img {
  max-width: 9rem;
}
.offcanvas-menu .menu-header button {
  color: white;
  border: 1px solid var(--mr-color-slate);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offcanvas-menu .menu-header button i {
  font-size: 20px;
}
.offcanvas-menu .menu-body {
  padding: 20px 30px;
}
.offcanvas-menu .menu-body ul li + li {
  border-top: 1px solid var(--mr-color-slate);
}
.offcanvas-menu .menu-body ul li a {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 17px;
}
.offcanvas-menu .menu-body .menu-item-has-children > a::after {
  content: "\f078";
  width: 30px;
  height: 30px;
  border: 1px solid var(--mr-color-slate);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--mr-fontAwesome);
  font-size: 14px;
  transition: all 0.15s ease;
}
.offcanvas-menu .menu-body .menu-item-has-children > a.active {
  color: var(--mr-color-primary);
}
.offcanvas-menu .menu-body .menu-item-has-children > a.active::after {
  content: "\f077";
  border-color: var(--mr-color-primary);
}
.offcanvas-menu .menu-body .sub-menu {
  display: none;
}
.offcanvas-menu .menu-body .input-group {
  border: 1px solid var(--mr-color-secondary);
}
.offcanvas-menu .menu-body .input-group .form-control {
  padding: 8px 16px;
}
.offcanvas-menu .menu-footer {
  padding: 20px 30px;
}
.offcanvas-menu .menu-footer .contact_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.offcanvas-menu .menu-footer .contact_item .item_link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.offcanvas-menu .menu-footer .contact_item .item_link span {
  font-size: 0.875rem;
  color: var(--mr-color-gray);
  font-family: var(--mr-heading-font-family);
  line-height: 1.5;
}
.offcanvas-menu .menu-footer .contact_item .item_link span.info_text {
  color: var(--mr-color-secondary);
  font-size: 1rem;
}
.offcanvas-menu .menu-footer .contact_item .item_link span.info_text .color_primary {
  color: var(--mr-color-primary);
}
.offcanvas-menu .menu-footer .contact_item .content {
  display: flex;
  flex-direction: column;
}
.offcanvas-menu .menu-footer .widget-title {
  margin-bottom: 15px;
}
.offcanvas-menu .menu-footer .social_icons {
  display: flex;
  align-items: center;
  gap: 0.675rem;
}
.offcanvas-menu .menu-footer .social_icons a {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.75rem;
  color: var(--mr-color-secondary);
  background-color: var(--mr-color-primary-400);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
}
.offcanvas-menu .menu-footer .social_icons a i {
  transition: all 0.3s ease;
  color: var(--mr-color-secondary);
}
.offcanvas-menu .menu-footer .social_icons a::after {
  content: "";
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  transform: translate(0, 5px);
  border-radius: 50%;
  transition: all 0.3s ease;
  background: var(--mr-color-primary);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.offcanvas-menu .menu-footer .social_icons a:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}
.offcanvas-menu .menu-footer .social_icons a:hover i {
  color: var(--mr-color-white);
}
.offcanvas-menu .menu-footer .social_icons a:hover::after {
  transform: translate(0) scale(1);
  opacity: 1;
  visibility: visible;
}
.offcanvas-menu.is-menu-open {
  right: 0;
}
.offcanvas-menu .searcForm {
  margin-bottom: 20px;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.overlay-menu.is-menu-open {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------------------------
    [ ## 6.2 Page Banner]
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    [ ## 6.3 Pages]
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# 6.3.1 Home Page - Digital Agency
--------------------------------------------------------------*/
.hero_area {
  padding: 240px 0 32px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .hero_area {
    padding: 190px 0 110px 0;
  }
}
@media screen and (min-width: 1400px) {
  .hero_area {
    padding: 240px 0 160px 0;
  }
}
.hero_area .hero_title {
  max-width: 100%;
  position: absolute;
  top: -130px;
  left: 15px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .hero_area .hero_title {
    max-width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_title {
    top: 130px;
    max-width: 770px;
    background: linear-gradient(280deg, rgba(181, 43, 29, 0.6979166667) 10%, rgba(2, 0, 36, 0) 60%);
  }
}
.hero_area .hero_title .title {
  color: var(--mr-color-white);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .hero_area .hero_title .title {
    font-size: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_title .title {
    font-size: 80px;
  }
}
@media screen and (min-width: 1400px) {
  .hero_area .hero_title .title {
    font-size: 110px;
  }
}
.hero_area .hero_content {
  position: relative;
  margin-top: -10px;
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .hero_area .hero_content {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_content {
    margin-top: 160px;
  }
}
@media screen and (min-width: 1400px) {
  .hero_area .hero_content {
    padding: 230px 0 160px 0;
    margin-top: 160px;
    margin-bottom: 0;
  }
}
.hero_area .hero_content .text {
  color: var(--mr-color-white);
  font-size: 20px;
  line-height: 1.5;
  max-width: 560px;
  margin-bottom: 28px;
}
@media screen and (min-width: 1400px) {
  .hero_area .hero_content .text {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 38px;
  }
}
.hero_area .hero_content a {
  transition: all 0.3s ease;
}
.hero_area .hero_image {
  max-width: 700px;
  position: relative;
  z-index: 2;
}
.hero_area .hero_image img {
  width: 100%;
}
.hero_area .hero_image .icon {
  position: absolute;
  right: 0;
  top: -20px;
  animation: rotate 7s linear infinite;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_image .icon {
    right: -30px;
    top: -38px;
  }
}
.hero_area .hero_image .offer_content {
  position: absolute;
  bottom: 12px;
  right: 15px;
  background: var(--mr-color-primary);
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mr-color-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  font-family: var(--mr-heading-font-family);
  text-align: center;
  border-radius: 5rem;
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_image .offer_content {
    right: -60px;
    font-size: 36px;
    width: 120px;
    height: 120px;
    right: -60px;
    bottom: 0;
  }
}
.hero_area .hero_image .offer_content::before {
  position: absolute;
  content: "";
  width: 65px;
  height: 65px;
  border: 1px dashed var(--mr-color-red);
  border-radius: 50px;
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_image .offer_content::before {
    width: 105px;
    height: 105px;
  }
}

.about_us_area {
  padding: 32px 0;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .about_us_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .about_us_area {
    padding: 120px 0;
  }
}
.about_us_area .about_img {
  position: relative;
  margin-bottom: 32px;
}
@media screen and (min-width: 992px) {
  .about_us_area .about_img {
    margin-bottom: 0;
  }
}
.about_us_area .about_img img {
  width: 100%;
}
.about_us_area .experience_box {
  background: var(--mr-color-white);
  gap: 10px;
  max-width: 130px;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  top: 16px;
  left: 12px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box {
    max-width: 240px;
    padding: 22px;
    top: 32px;
    left: 24px;
  }
}
.about_us_area .experience_box .circular-progress {
  width: 56px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box .circular-progress {
    width: 90px;
    height: 90px;
  }
}
.about_us_area .experience_box .inner-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--mr-color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box .inner-circle {
    width: 80px;
    height: 80px;
  }
}
.about_us_area .experience_box .percentage {
  position: relative;
  font-size: 14px;
  color: var(--mr-color-secondary) !important;
  margin-bottom: 0;
  font-family: var(--mr-heading-font-family);
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box .percentage {
    font-size: 26px;
  }
}
.about_us_area .experience_box .text {
  font-weight: 500;
  line-height: 1.6;
  font-size: 8px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box .text {
    font-size: 16px;
  }
}
.about_us_area .about_content .nav {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--mr-color-red);
}
@media screen and (min-width: 1200px) {
  .about_us_area .about_content .nav {
    margin-bottom: 32px;
  }
}
.about_us_area .about_content .nav-item + .nav-item {
  margin-left: 16px;
}
.about_us_area .about_content .nav-link {
  font-size: 14px;
  color: var(--mr-color-secondary);
  border-radius: 0;
  font-family: var(--mr-global-font-family);
  line-height: 1.8;
  padding: 6px 16px;
}
.about_us_area .about_content .nav-link.active {
  color: var(--mr-color-secondary);
  color: var(--mr-color-white);
  background: var(--mr-color-red);
}
.about_us_area .about_content .tab-content .title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .about_content .tab-content .title {
    font-size: 50px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1400px) {
  .about_us_area .about_content .tab-content .title {
    font-size: 62px;
  }
}
.about_us_area .about_content .tab-content .text {
  font-size: 16px;
  margin-bottom: 32px;
}
.about_us_area .about_content .tab-content .button_group {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .about_content .tab-content .button_group {
    gap: 32px;
  }
}
.about_us_area .about_content .tab-content .button_group .contact_nbr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--mr-global-font-family);
}
@media screen and (min-width: 1200px) {
  .about_us_area .about_content .tab-content .button_group .contact_nbr {
    font-size: 18px;
  }
}
.about_us_area .facilities_card {
  margin-top: 50px;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card {
    margin-top: 75px;
    gap: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .about_us_area .facilities_card {
    gap: 20px;
  }
}
.about_us_area .facilities_card .single_card {
  min-width: 420px;
  gap: 16px;
}
.about_us_area .facilities_card .single_card .icon {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: var(--mr-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 7px 12px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card .single_card .icon {
    width: 90px;
    height: 90px;
  }
}
.about_us_area .facilities_card .single_card .icon img {
  max-width: 26px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card .single_card .icon img {
    max-width: 100%;
  }
}
.about_us_area .facilities_card .single_card .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card .single_card .title {
    font-size: 30px;
  }
}
.about_us_area .facilities_card .single_card span {
  font-size: 18px;
  font-family: var(--mr-global-font-family);
  color: var(--mr-color-secondary);
  display: block;
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card .single_card span {
    font-size: 20px;
  }
}
.about_us_area .bg_img {
  position: absolute;
  right: -130px;
  bottom: 80px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about_us_area .bg_img {
    display: block;
  }
}

.food_item_area {
  padding: 32px 0;
  background: var(--mr-color-gray);
}
@media screen and (min-width: 1200px) {
  .food_item_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .food_item_area {
    padding: 120px 0;
  }
}
.food_item_area .section_title {
  max-width: 80%;
  position: relative;
  z-index: 1024;
}
.food_item_area .product_slider {
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .food_item_area .product_slider {
    padding-top: 10rem;
    margin-top: -10rem;
  }
}
.food_item_area .product_slider .product_card {
  background: var(--mr-color-white);
  padding: 32px;
}
.food_item_area .product_slider .product_card .image {
  padding-bottom: 20px;
  position: relative;
  max-width: 132px;
  max-height: 132px;
  margin: 0 auto;
  overflow: hidden;
}
.food_item_area .product_slider .product_card .image img {
  width: 100%;
  height: 100%;
}
.food_item_area .product_slider .product_card .image::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 4px;
  background: var(--mr-color-red);
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}
.food_item_area .product_slider .product_card .food_name {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}
.food_item_area .product_slider .swiper-button-next, .food_item_area .product_slider .swiper-button-prev {
  position: absolute;
  bottom: 5px;
  right: -60px;
  top: auto;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: var(--mr-color-white);
  border-radius: 50px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 992px) {
  .food_item_area .product_slider .swiper-button-next, .food_item_area .product_slider .swiper-button-prev {
    top: 40px;
    right: 5px;
    width: 60px;
    height: 60px;
    left: auto;
    bottom: auto;
    margin: 0;
  }
}
.food_item_area .product_slider .swiper-button-next::after, .food_item_area .product_slider .swiper-button-prev::after {
  font-size: 14px;
  color: var(--mr-color-secondary);
}
@media screen and (min-width: 992px) {
  .food_item_area .product_slider .swiper-button-next::after, .food_item_area .product_slider .swiper-button-prev::after {
    font-size: 18px;
  }
}
.food_item_area .product_slider .swiper-button-next.swiper-button-disabled, .food_item_area .product_slider .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.food_item_area .product_slider .swiper-button-next:hover::after, .food_item_area .product_slider .swiper-button-prev:hover::after {
  color: var(--mr-color-red);
}
.food_item_area .product_slider .swiper-button-prev {
  left: -110px;
}
@media screen and (min-width: 992px) {
  .food_item_area .product_slider .swiper-button-prev {
    left: auto;
    right: 92px;
  }
}
@media screen and (min-width: 992px) {
  .food_item_area .product_slider .swiper-pagination {
    display: none;
  }
}
.food_item_area .bg_img {
  position: absolute;
  left: -105px;
  bottom: 100px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .food_item_area .bg_img {
    display: block;
  }
}

.booking_area {
  padding: 32px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .booking_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .booking_area {
    padding: 120px 0;
  }
}
.booking_area .section_title {
  margin-bottom: 40px;
}
.booking_area .section_title .title {
  color: var(--mr-color-white);
}
.booking_area .submit_btn {
  margin-top: 32px;
}
.booking_area .booking_form .form-control {
  color: var(--mr-color-white);
}
.booking_area .booking_form .flatpickr-input[readonly] {
  background: none;
}

.testimonail_area {
  padding: 32px 0;
}
@media screen and (min-width: 1200px) {
  .testimonail_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .testimonail_area {
    padding: 120px 0;
  }
}
.testimonail_area .section_title {
  max-width: 80%;
  position: relative;
  z-index: 1024;
}
.testimonail_area .testimonial_slider {
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  .testimonail_area .testimonial_slider {
    padding-top: 10rem;
    margin-top: -10rem;
    padding-bottom: 0;
  }
}
.testimonail_area .testimonial_slider .swiper-button-next,
.testimonail_area .testimonial_slider .swiper-button-prev {
  position: absolute;
  bottom: 5px;
  right: -60px;
  top: auto;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: var(--mr-color-white);
  border-radius: 50px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 992px) {
  .testimonail_area .testimonial_slider .swiper-button-next,
  .testimonail_area .testimonial_slider .swiper-button-prev {
    top: 40px;
    right: 5px;
    width: 60px;
    height: 60px;
    left: auto;
    bottom: auto;
    margin: 0;
  }
}
.testimonail_area .testimonial_slider .swiper-button-next::after,
.testimonail_area .testimonial_slider .swiper-button-prev::after {
  font-size: 14px;
  color: var(--mr-color-secondary);
}
@media screen and (min-width: 992px) {
  .testimonail_area .testimonial_slider .swiper-button-next::after,
  .testimonail_area .testimonial_slider .swiper-button-prev::after {
    font-size: 18px;
  }
}
.testimonail_area .testimonial_slider .swiper-button-next.swiper-button-disabled,
.testimonail_area .testimonial_slider .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.testimonail_area .testimonial_slider .swiper-button-next:hover::after,
.testimonail_area .testimonial_slider .swiper-button-prev:hover::after {
  color: var(--mr-color-red);
}
.testimonail_area .testimonial_slider .swiper-button-prev {
  left: -110px;
}
@media screen and (min-width: 992px) {
  .testimonail_area .testimonial_slider .swiper-button-prev {
    left: auto;
    right: 92px;
  }
}
.testimonail_area .single_testimonial {
  background: var(--mr-color-primary);
  padding: 45px 25px 25px 45px;
  position: relative;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .testimonail_area .single_testimonial {
    padding: 70px 85px 70px 110px;
  }
}
.testimonail_area .single_testimonial .text {
  font-size: 18px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .testimonail_area .single_testimonial .text {
    font-size: 20px;
  }
}
.testimonail_area .single_testimonial .text .icon {
  position: absolute;
  top: -20px;
  left: -30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonail_area .single_testimonial .client_info {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--mr-color-secondary);
  position: relative;
}
@media screen and (min-width: 1200px) {
  .testimonail_area .single_testimonial .client_info {
    margin-top: 165px;
  }
}
.testimonail_area .single_testimonial .client_info::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background: var(--mr-color-red);
  bottom: 0;
  right: 0;
}
.testimonail_area .single_testimonial .client_info .client_name {
  color: var(--mr-color-secondary);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  font-family: var(--mr-heading-font-family);
}
.testimonail_area .single_testimonial .client_info .location {
  font-size: 14px;
  line-height: 1;
  color: var(--mr-color-black-300);
  display: inline-block;
}
.testimonail_area .single_testimonial .shape {
  position: absolute;
  bottom: -30px;
  left: 0;
}
@media screen and (min-width: 1200px) {
  .testimonail_area .single_testimonial .shape {
    bottom: 40px;
  }
}
.testimonail_area .testimonail_video {
  position: relative;
}
.testimonail_area .testimonail_video .video_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mr-color-primary);
  border-radius: 50px;
  color: var(--mr-color-secondary);
  transition: all 0.5s ease;
  font-size: 18px;
  line-height: 1;
  box-shadow: 0 0 0 rgb(0, 0, 0);
  animation: anim-vibrate 2s infinite;
}
.testimonail_area .testimonial_thumb {
  position: relative;
}
.testimonail_area .testimonial_thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  background: var(--mr-color-black);
  opacity: 0.3;
}
.testimonail_area .testimonial_thumb img {
  height: 100%;
  width: 100%;
}

/*--------------------------------------------------------------
    [ ## 6.4 Footer ]
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
.footer_area {
  padding: 32px 0;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .footer_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .footer_area {
    padding: 120px 0;
  }
}
.footer_area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--mr-color-black);
  opacity: 0.8;
}
.footer_area .footer_wrapper {
  position: relative;
  z-index: 5;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer_area .footer_wrapper {
    margin-bottom: 120px;
  }
}
.footer_area .footer_title {
  font-size: 40px;
  font-weight: 500;
  color: var(--mr-color-white);
  line-height: 1.1;
  margin: 0 auto;
  max-width: 300px;
}
@media screen and (min-width: 1200px) {
  .footer_area .footer_title {
    font-size: 62px;
    margin-bottom: 50px;
    max-width: 100%;
  }
}
.footer_area .footer_widget {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
@media screen and (min-width: 992px) {
  .footer_area .footer_widget {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .footer_area .footer_widget {
    margin-top: 0;
  }
}
.footer_area .single_widget img {
  margin-bottom: 20px;
}
.footer_area .single_widget .title {
  font-size: 24px;
  color: var(--mr-color-white);
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 1.4px;
}
.footer_area .single_widget .info_item {
  display: block;
  color: var(--mr-color-white);
  line-height: 1.5;
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer_area .single_widget .info_item {
    max-width: 235px;
  }
}
.footer_area .copyright_area {
  position: relative;
  z-index: 5;
}
.footer_area .copyright_area .social_icons {
  gap: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .footer_area .copyright_area .social_icons {
    gap: 24px;
    margin-bottom: 25px;
  }
}
.footer_area .copyright_area .social_icons a {
  border: 1px solid var(--mr-color-white);
  padding: 10px;
  border-radius: 100px;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .footer_area .copyright_area .social_icons a {
    font-size: 20px;
    padding: 14px;
  }
}
.footer_area .copyright_area .social_icons a.primary_solid_btn {
  background: transparent;
  color: var(--mr-color-white);
}
.footer_area .copyright_area .social_icons a.primary_solid_btn::before {
  background: var(--mr-color-primary);
}
.footer_area .copyright_area .social_icons a.primary_solid_btn:hover {
  border-color: var(--mr-color-primary);
}
.footer_area .copyright_area .copyright_content {
  font-family: var(--mr-global-font-family);
  font-size: 16px;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1200px) {
  .footer_area .copyright_area .copyright_content {
    font-size: 21px;
  }
}
.footer_area .copyright_area .copyright_content .copyright_by {
  font-family: var(--mr-global-font-family);
  font-size: 16px;
  letter-spacing: 0.6px;
  color: var(--mr-color-primary);
}
@media screen and (min-width: 1200px) {
  .footer_area .copyright_area .copyright_content .copyright_by {
    font-size: 21px;
  }
}

/*------------------------------------------------------------------
[7. Pages]
------------------------------------------------------------------*/
/*--------------------------------------------------------------
# 6.3.1 Home Page - Digital Agency
--------------------------------------------------------------*/
.hero_area {
  padding: 240px 0 32px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .hero_area {
    padding: 190px 0 110px 0;
  }
}
@media screen and (min-width: 1400px) {
  .hero_area {
    padding: 240px 0 160px 0;
  }
}
.hero_area .hero_title {
  max-width: 100%;
  position: absolute;
  top: -130px;
  left: 15px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .hero_area .hero_title {
    max-width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_title {
    top: 130px;
    max-width: 770px;
    background: linear-gradient(280deg, rgba(181, 43, 29, 0.6979166667) 10%, rgba(2, 0, 36, 0) 60%);
  }
}
.hero_area .hero_title .title {
  color: var(--mr-color-white);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .hero_area .hero_title .title {
    font-size: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_title .title {
    font-size: 80px;
  }
}
@media screen and (min-width: 1400px) {
  .hero_area .hero_title .title {
    font-size: 110px;
  }
}
.hero_area .hero_content {
  position: relative;
  margin-top: -10px;
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .hero_area .hero_content {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_content {
    margin-top: 160px;
  }
}
@media screen and (min-width: 1400px) {
  .hero_area .hero_content {
    padding: 230px 0 160px 0;
    margin-top: 160px;
    margin-bottom: 0;
  }
}
.hero_area .hero_content .text {
  color: var(--mr-color-white);
  font-size: 20px;
  line-height: 1.5;
  max-width: 560px;
  margin-bottom: 28px;
}
@media screen and (min-width: 1400px) {
  .hero_area .hero_content .text {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 38px;
  }
}
.hero_area .hero_content a {
  transition: all 0.3s ease;
}
.hero_area .hero_image {
  max-width: 700px;
  position: relative;
  z-index: 2;
}
.hero_area .hero_image img {
  width: 100%;
}
.hero_area .hero_image .icon {
  position: absolute;
  right: 0;
  top: -20px;
  animation: rotate 7s linear infinite;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_image .icon {
    right: -30px;
    top: -38px;
  }
}
.hero_area .hero_image .offer_content {
  position: absolute;
  bottom: 12px;
  right: 15px;
  background: var(--mr-color-primary);
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mr-color-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  font-family: var(--mr-heading-font-family);
  text-align: center;
  border-radius: 5rem;
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_image .offer_content {
    right: -60px;
    font-size: 36px;
    width: 120px;
    height: 120px;
    right: -60px;
    bottom: 0;
  }
}
.hero_area .hero_image .offer_content::before {
  position: absolute;
  content: "";
  width: 65px;
  height: 65px;
  border: 1px dashed var(--mr-color-red);
  border-radius: 50px;
}
@media screen and (min-width: 1200px) {
  .hero_area .hero_image .offer_content::before {
    width: 105px;
    height: 105px;
  }
}

.about_us_area {
  padding: 32px 0;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .about_us_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .about_us_area {
    padding: 120px 0;
  }
}
.about_us_area .about_img {
  position: relative;
  margin-bottom: 32px;
}
@media screen and (min-width: 992px) {
  .about_us_area .about_img {
    margin-bottom: 0;
  }
}
.about_us_area .about_img img {
  width: 100%;
}
.about_us_area .experience_box {
  background: var(--mr-color-white);
  gap: 10px;
  max-width: 130px;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  top: 16px;
  left: 12px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box {
    max-width: 240px;
    padding: 22px;
    top: 32px;
    left: 24px;
  }
}
.about_us_area .experience_box .circular-progress {
  width: 56px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box .circular-progress {
    width: 90px;
    height: 90px;
  }
}
.about_us_area .experience_box .inner-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--mr-color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box .inner-circle {
    width: 80px;
    height: 80px;
  }
}
.about_us_area .experience_box .percentage {
  position: relative;
  font-size: 14px;
  color: var(--mr-color-secondary) !important;
  margin-bottom: 0;
  font-family: var(--mr-heading-font-family);
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box .percentage {
    font-size: 26px;
  }
}
.about_us_area .experience_box .text {
  font-weight: 500;
  line-height: 1.6;
  font-size: 8px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .experience_box .text {
    font-size: 16px;
  }
}
.about_us_area .about_content .nav {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--mr-color-red);
}
@media screen and (min-width: 1200px) {
  .about_us_area .about_content .nav {
    margin-bottom: 32px;
  }
}
.about_us_area .about_content .nav-item + .nav-item {
  margin-left: 16px;
}
.about_us_area .about_content .nav-link {
  font-size: 14px;
  color: var(--mr-color-secondary);
  border-radius: 0;
  font-family: var(--mr-global-font-family);
  line-height: 1.8;
  padding: 6px 16px;
}
.about_us_area .about_content .nav-link.active {
  color: var(--mr-color-secondary);
  color: var(--mr-color-white);
  background: var(--mr-color-red);
}
.about_us_area .about_content .tab-content .title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .about_content .tab-content .title {
    font-size: 50px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1400px) {
  .about_us_area .about_content .tab-content .title {
    font-size: 62px;
  }
}
.about_us_area .about_content .tab-content .text {
  font-size: 16px;
  margin-bottom: 32px;
}
.about_us_area .about_content .tab-content .button_group {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .about_content .tab-content .button_group {
    gap: 32px;
  }
}
.about_us_area .about_content .tab-content .button_group .contact_nbr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--mr-global-font-family);
}
@media screen and (min-width: 1200px) {
  .about_us_area .about_content .tab-content .button_group .contact_nbr {
    font-size: 18px;
  }
}
.about_us_area .facilities_card {
  margin-top: 50px;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card {
    margin-top: 75px;
    gap: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .about_us_area .facilities_card {
    gap: 20px;
  }
}
.about_us_area .facilities_card .single_card {
  min-width: 420px;
  gap: 16px;
}
.about_us_area .facilities_card .single_card .icon {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: var(--mr-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 7px 12px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card .single_card .icon {
    width: 90px;
    height: 90px;
  }
}
.about_us_area .facilities_card .single_card .icon img {
  max-width: 26px;
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card .single_card .icon img {
    max-width: 100%;
  }
}
.about_us_area .facilities_card .single_card .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card .single_card .title {
    font-size: 30px;
  }
}
.about_us_area .facilities_card .single_card span {
  font-size: 18px;
  font-family: var(--mr-global-font-family);
  color: var(--mr-color-secondary);
  display: block;
}
@media screen and (min-width: 1200px) {
  .about_us_area .facilities_card .single_card span {
    font-size: 20px;
  }
}
.about_us_area .bg_img {
  position: absolute;
  right: -130px;
  bottom: 80px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about_us_area .bg_img {
    display: block;
  }
}

.food_item_area {
  padding: 32px 0;
  background: var(--mr-color-gray);
}
@media screen and (min-width: 1200px) {
  .food_item_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .food_item_area {
    padding: 120px 0;
  }
}
.food_item_area .section_title {
  max-width: 80%;
  position: relative;
  z-index: 1024;
}
.food_item_area .product_slider {
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .food_item_area .product_slider {
    padding-top: 10rem;
    margin-top: -10rem;
  }
}
.food_item_area .product_slider .product_card {
  background: var(--mr-color-white);
  padding: 32px;
}
.food_item_area .product_slider .product_card .image {
  padding-bottom: 20px;
  position: relative;
  max-width: 132px;
  max-height: 132px;
  margin: 0 auto;
  overflow: hidden;
}
.food_item_area .product_slider .product_card .image img {
  width: 100%;
  height: 100%;
}
.food_item_area .product_slider .product_card .image::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 4px;
  background: var(--mr-color-red);
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}
.food_item_area .product_slider .product_card .food_name {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}
.food_item_area .product_slider .swiper-button-next, .food_item_area .product_slider .swiper-button-prev {
  position: absolute;
  bottom: 5px;
  right: -60px;
  top: auto;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: var(--mr-color-white);
  border-radius: 50px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 992px) {
  .food_item_area .product_slider .swiper-button-next, .food_item_area .product_slider .swiper-button-prev {
    top: 40px;
    right: 5px;
    width: 60px;
    height: 60px;
    left: auto;
    bottom: auto;
    margin: 0;
  }
}
.food_item_area .product_slider .swiper-button-next::after, .food_item_area .product_slider .swiper-button-prev::after {
  font-size: 14px;
  color: var(--mr-color-secondary);
}
@media screen and (min-width: 992px) {
  .food_item_area .product_slider .swiper-button-next::after, .food_item_area .product_slider .swiper-button-prev::after {
    font-size: 18px;
  }
}
.food_item_area .product_slider .swiper-button-next.swiper-button-disabled, .food_item_area .product_slider .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.food_item_area .product_slider .swiper-button-next:hover::after, .food_item_area .product_slider .swiper-button-prev:hover::after {
  color: var(--mr-color-red);
}
.food_item_area .product_slider .swiper-button-prev {
  left: -110px;
}
@media screen and (min-width: 992px) {
  .food_item_area .product_slider .swiper-button-prev {
    left: auto;
    right: 92px;
  }
}
@media screen and (min-width: 992px) {
  .food_item_area .product_slider .swiper-pagination {
    display: none;
  }
}
.food_item_area .bg_img {
  position: absolute;
  left: -105px;
  bottom: 100px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .food_item_area .bg_img {
    display: block;
  }
}

.booking_area {
  padding: 32px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .booking_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .booking_area {
    padding: 120px 0;
  }
}
.booking_area .section_title {
  margin-bottom: 40px;
}
.booking_area .section_title .title {
  color: var(--mr-color-white);
}
.booking_area .submit_btn {
  margin-top: 32px;
}
.booking_area .booking_form .form-control {
  color: var(--mr-color-white);
}
.booking_area .booking_form .flatpickr-input[readonly] {
  background: none;
}

.testimonail_area {
  padding: 32px 0;
}
@media screen and (min-width: 1200px) {
  .testimonail_area {
    padding: 90px 0;
  }
}
@media screen and (min-width: 1400px) {
  .testimonail_area {
    padding: 120px 0;
  }
}
.testimonail_area .section_title {
  max-width: 80%;
  position: relative;
  z-index: 1024;
}
.testimonail_area .testimonial_slider {
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  .testimonail_area .testimonial_slider {
    padding-top: 10rem;
    margin-top: -10rem;
    padding-bottom: 0;
  }
}
.testimonail_area .testimonial_slider .swiper-button-next,
.testimonail_area .testimonial_slider .swiper-button-prev {
  position: absolute;
  bottom: 5px;
  right: -60px;
  top: auto;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: var(--mr-color-white);
  border-radius: 50px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 992px) {
  .testimonail_area .testimonial_slider .swiper-button-next,
  .testimonail_area .testimonial_slider .swiper-button-prev {
    top: 40px;
    right: 5px;
    width: 60px;
    height: 60px;
    left: auto;
    bottom: auto;
    margin: 0;
  }
}
.testimonail_area .testimonial_slider .swiper-button-next::after,
.testimonail_area .testimonial_slider .swiper-button-prev::after {
  font-size: 14px;
  color: var(--mr-color-secondary);
}
@media screen and (min-width: 992px) {
  .testimonail_area .testimonial_slider .swiper-button-next::after,
  .testimonail_area .testimonial_slider .swiper-button-prev::after {
    font-size: 18px;
  }
}
.testimonail_area .testimonial_slider .swiper-button-next.swiper-button-disabled,
.testimonail_area .testimonial_slider .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.testimonail_area .testimonial_slider .swiper-button-next:hover::after,
.testimonail_area .testimonial_slider .swiper-button-prev:hover::after {
  color: var(--mr-color-red);
}
.testimonail_area .testimonial_slider .swiper-button-prev {
  left: -110px;
}
@media screen and (min-width: 992px) {
  .testimonail_area .testimonial_slider .swiper-button-prev {
    left: auto;
    right: 92px;
  }
}
.testimonail_area .single_testimonial {
  background: var(--mr-color-primary);
  padding: 45px 25px 25px 45px;
  position: relative;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .testimonail_area .single_testimonial {
    padding: 70px 85px 70px 110px;
  }
}
.testimonail_area .single_testimonial .text {
  font-size: 18px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .testimonail_area .single_testimonial .text {
    font-size: 20px;
  }
}
.testimonail_area .single_testimonial .text .icon {
  position: absolute;
  top: -20px;
  left: -30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonail_area .single_testimonial .client_info {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--mr-color-secondary);
  position: relative;
}
@media screen and (min-width: 1200px) {
  .testimonail_area .single_testimonial .client_info {
    margin-top: 165px;
  }
}
.testimonail_area .single_testimonial .client_info::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background: var(--mr-color-red);
  bottom: 0;
  right: 0;
}
.testimonail_area .single_testimonial .client_info .client_name {
  color: var(--mr-color-secondary);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  font-family: var(--mr-heading-font-family);
}
.testimonail_area .single_testimonial .client_info .location {
  font-size: 14px;
  line-height: 1;
  color: var(--mr-color-black-300);
  display: inline-block;
}
.testimonail_area .single_testimonial .shape {
  position: absolute;
  bottom: -30px;
  left: 0;
}
@media screen and (min-width: 1200px) {
  .testimonail_area .single_testimonial .shape {
    bottom: 40px;
  }
}
.testimonail_area .testimonail_video {
  position: relative;
}
.testimonail_area .testimonail_video .video_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mr-color-primary);
  border-radius: 50px;
  color: var(--mr-color-secondary);
  transition: all 0.5s ease;
  font-size: 18px;
  line-height: 1;
  box-shadow: 0 0 0 rgb(0, 0, 0);
  animation: anim-vibrate 2s infinite;
}
.testimonail_area .testimonial_thumb {
  position: relative;
}
.testimonail_area .testimonial_thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  background: var(--mr-color-black);
  opacity: 0.3;
}
.testimonail_area .testimonial_thumb img {
  height: 100%;
  width: 100%;
}

/*------------------------------------------------------------------
            THANKS FOR HAVING WITH 
------------------------------------------------------------------*/

/*# sourceMappingURL=main.css.map */
