.page-banner {
    min-height: 60vh;
    max-height: 500px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: '';
        inset: 0;
        background: var(--ai-color-primary);
        opacity: 0.8;
        position: absolute;
        z-index: 1;
    }
    &::after {
        --size: 100px;
        @include lg-up {
            --size: 160px;
        }
        @include xxl-up {
            --size: 240px;
        }
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        @include width-height(var(--size), var(--size));
        border-top-left-radius: var(--size);
        background-color: var(--ai-color-primary);
        z-index: 2;
        opacity: .8;
    }
    .background {
        position: absolute;
        inset: 0;
        z-index: -1;
        filter: grayscale(1);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .banner-content {
        padding: 75px 0;
    }

    h1 {
        margin-bottom: 10px;
        font-size: 40px;
        @include xl-up {
            font-size: 52px;
        }
        @include xxl-up {
            font-size: 60px;
        }
    }
    
}