// hero area style here
.hero_area {
    background: center / cover no-repeat;
    // hero content style here
    .hero_content {
        padding: 12rem 0 15rem 0;
        @include lg-up {
            padding: 22rem 0 15rem 0;
        }
        @include xl-up {
            padding: 25rem 0 19rem 0;
        }
        .title {
            color: var(--ai-color-white);
            font-size: 2.5rem;
            font-weight: 500;
            margin: 0 auto;
            line-height: 1.2;
            @include sm-up {
                font-size: 3rem;
            }
            @include md-up {
                font-size: 3.25rem;
            }
            @include lg-up {
                font-size: 4rem;
                max-width: 50rem;
            }
            @include xl-up {
                font-size: 4.5rem;
            }
            @include xxl-up {
                font-size: 5rem;
                font-weight: 500;
                line-height: 1.2;
            }
            span {
                font-size: 2rem;
                line-height: 1.4;
                font-weight: 300;
                display: inline-block;
                @include sm-up {
                    font-size: 2.5rem;
                }
                @include lg-up {
                    font-size: 3.5rem;
                    line-height: 1.1;
                }
            }
        }
        .text {
            color: var(--ai-color-white);
            font-size: 1.125rem;
            max-width: 30rem;
            margin: 0 auto;
            padding-top: 1rem;
            @include lg-up {
                font-size: 1.25rem;
            }
        }
        .button_group {
            margin-top: 4rem;
            @include flex-center;
            gap: 1rem;
            @include lg-up {
                gap: 1.25rem;
            }
        }
        &.hero_second_content {
            padding: 25rem 0 23rem 0;
        }
    }

    // hero second style here
    &.hero_second_style {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: #000000;
            opacity: 0.5;
        }
    }
}


// services area style here 
.services_area {
    margin-bottom: 3.25rem;
    @include sm-up {
        margin-bottom: 4.25rem;
    }
    @include lg-up {
        margin-bottom: 5.25rem;
    }
    @include xl-up {
        margin-bottom: 6rem;
    }
    @include xxl-up {
        margin-bottom: 6.875rem; 
    }
    .row {
        &.bg_color {
            padding: 1rem;
            background: var(--ai-color-white);
            margin-top: -9rem;
            @include md-up {
                padding: 2rem;
            }
            @include lg-up {
                padding: 3rem;
            }
        }
    }
    &.service_second_style {
        margin-top: -9rem;
        margin-bottom: 0;
    }
}

// service main area style here
.service_main_area {
    background: cover / center no-repeat;
    padding-top: 6.875rem;
    position: relative;
    margin-bottom: 3.25rem;
    @include sm-up {
        margin-bottom: 4.25rem;
    }
    @include lg-up {
        margin-bottom: 5.25rem;
    }
    @include xl-up {
        margin-bottom: 6rem;
    }
    @include xxl-up {
        margin-bottom: 6.875rem; 
    }
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: var(--ai-color-secondary);
        opacity: 0.9;
    }
    .wrapper {
        position: relative;
        z-index: 5;
        gap: 3rem;
        margin-bottom: 3.5rem;
    }
    // service slider
    .services_slider {
        padding-top: 6rem;
        margin-top: -6rem;
    }
    .service_slider_wrapper {
        background: var(--ai-color-white);
        position: relative;
        z-index: 10;
        padding: 6.25rem 7.5rem 0 6.25rem;
        min-width: 90rem;
        .section_title {
            position: relative;
            z-index: 1024;
            max-width: 80%;
            .title {
                max-width: 100%;
            }
        }
        .swiper-wrapper {
            padding: 15rem 0 1rem 1rem;
            margin-top: -14rem;
        }
        .service {
            width: 2.5rem;
            height: 2.5rem;
            i {
                font-size: 1.75rem;
                color: var(--ai-color-secondary);
                transition: all .3s ease;
            }
            &.swiper-button-next, &.swiper-button-prev {
                position: absolute;
                right: 0.5rem;
                top: 2rem;
                &::after {
                    font-size: 0;
                    width: 2.5rem;
                    height: 2.5rem;
                    left: 7px;
                    top: -3px;
                    bottom: 0;
                    position: absolute;
                    content: '';
                    background-color: var(--ai-color-primary-600);
                    z-index: -1;
                    border-radius: 5rem;
                    transition: all .3s linear;
                }
                &:hover {
                    i {
                        color: var(--ai-color-white);
                    }
                    &::after {
                        background-color: var(--ai-color-primary);
                        left: 0;
                    }
                }
            }
            &.swiper-button-prev {
                right: 3.5rem;
                top: 2rem;
                left: auto;
                &::after {
                    left: -7px;
                }
            }
        }
    }
}


// about us area style here
.about_us_area {
    margin-bottom: 3.25rem;
    @include sm-up {
        margin-bottom: 4.25rem;
    }
    @include lg-up {
        margin-bottom: 5.25rem;
    }
    @include xl-up {
        margin-bottom: 6rem;
    }
    @include xxl-up {
        margin-bottom: 6.875rem; 
    }
    .about_content_wrapper {
        padding-left: 0;
        @include md-up {
            margin-bottom: 3rem;
        }
        @include lg-up {
            margin-bottom: 0;
        }
        @include xl-up {
            padding-left: 2rem;
        }
        .section_title {
            margin-bottom: 1.5rem;
            @include xl-up {
                margin-bottom: 2.5rem;
            }
            .text {
                font-size: 1rem;
                @include xl-up {
                    font-size: 1.125rem;
                }
            }
        }
    }
    .section_img {
        border: 0.5rem solid var(--ai-color-gray-500);
        padding: 0.875rem;
        height: 100%;
        @include md-up {
            padding: 1.875rem;
        }
        @include lg-up {
            padding: 0.875rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .about_content {
        @include sm-up {
            display: flex;
            gap: 1.5rem;
            margin-bottom: 2rem;
        }
        @include md-up {
            display: flex;
            align-items: center;
            gap: 2.25rem;
            flex-wrap: wrap; 
            margin-bottom: 0;
        }
        @include lg-up {
            align-items: flex-start;
        }
        .left_image {
            flex: 0 0 13.125rem;
            margin-bottom: 1rem;
            @include sm-up {
                margin-bottom: 0;
            }
            @include md-up {
                flex: 0 0 16.125rem;
            }
            @include xxl-up {
                flex: 0 0 17.125rem;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .right_content {
            flex: 1;
            .text {
                font-size: 1rem;
                margin-bottom: 1.5rem;
                @include xl-up {
                    font-size: 1.125rem;
                }
            }
        }
        .about_list {
            @include flex-between;
            flex-wrap: wrap;
            gap: 1.25rem;
            margin-bottom: 2rem;
            @include sm-up {
                margin-bottom: 0;
            }
            .list_item {
                font-family: var(--ai-heading-font-family);
                @include flex-center;
                gap: 0.675rem;
                font-size: 1rem;
                @include xxl-up {
                    font-size: 1.125rem;
                }
            }
        }
    }
}

// about us second style here
.about_us_section {
    margin-bottom: 3.25rem;
    @include sm-up {
        margin-bottom: 4.25rem;
    }
    @include lg-up {
        margin-bottom: 5.25rem;
    }
    @include xl-up {
        margin-bottom: 6rem;
    }
    @include xxl-up {
        margin-bottom: 6.875rem; 
    }
    // section title
    .section_title {
        margin-bottom: 4rem;
        .title {
            max-width: 100%;
            width: 100%;
        }
    }

    // our facilities
    .our_facilities {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        justify-content: space-between;
        .single_facilities {
            gap: 1.5rem;
            .icon {
                flex: 0 0 4.625rem;
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    width: 2.5rem;
                    height: 2.5rem;
                    left: 6px;
                    bottom: 0.875rem;
                    background: var(--ai-color-primary-300);
                    z-index: -1;
                }
            }
            .content {
                flex: 1;
            }
            .facilities_name {
                margin-bottom: 0.5rem;
            }
        }
    }

    // section image
    .section_image {
        img {
            max-width: 130%;
        }
    }

}

// why choose us area style here
.whyChooseUs_area {
    margin-bottom: 7.5rem;
    background-color: var(--ai-color-secondary);
    position: relative;
    padding: 3rem 0 0 0;
    margin-bottom: 3.25rem;
    @include sm-up {
        margin-bottom: 4.25rem;
        padding: 4rem 0 0 0;
    }
    @include lg-up {
        margin-bottom: 5.25rem;
    }
    @include xl-up {
        margin-bottom: 6rem;
    }
    @include xxl-up {
        margin-bottom: 6.875rem; 
    }
    @include md-up {
        padding: 0;
    }
    .row {
        @include xxl-up {
            align-items: center;
        }
    }
    .section-image {
        position: relative;
        @include sm-up {
            height: 100%;
        }
        img {
            @include sm-up {
                height: 100%;
            }
        }
    }
    // progress
    .progress-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 32rem;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 4rem;
    }
    .circular-progress {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner-circle {
        position: absolute;
        width: calc(85px - 5px);
        height: calc(85px - 5px);
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .percentage {
        position: relative;
        font-size: 20px;
        color: var(--bd-black);
        margin-bottom: 0;
    }

    .whyChooseUs_content {
        padding: 0 1.5rem 0 1.5rem ;
        @include md-up {
            padding: 2rem 0 2rem 2rem;
        }
        @include lg-up {
            padding: 3rem 0 3rem 4rem;
        }
        @include xl-up {
            padding: 4rem 0 4rem 4rem;
        }
        @include xxl-up {
            padding: 0 0 0 6rem;
        }
    }
    .section_title {
        .sub_title {
            &::before {
                background-color: var(--ai-color-secondary-300);
            }
        }
        .title {
            color: var(--ai-color-white);
            max-width: 28rem;
        }
    }
    .our_quality {
        @include flex-between;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-bottom: 2.5rem;
        @include md-up {
            margin-bottom: 0;
        }
        @include xl-up {
            gap: 2.5rem;
            max-width: 42rem;
        }
        @include xxl-up {
            max-width: 45rem;
        }
        .quality_list {
            @include sm-up {
                max-width: 16rem;
            }
            @include md-up {
                max-width: 17rem;
            }
            @include xl-up {
                max-width: 100%;
            }
            .title {
                color: var(--ai-color-white);
                font-size: 1rem;
                margin-bottom: 0.5rem;
                @include lg-up {
                    font-size: 1.125rem;
                }
                @include xl-up {
                    margin-bottom: 1rem;
                }
                .number {
                    display: inline-block;
                    position: relative;
                    color: var(--ai-color-primary);
                    margin-right: 3rem;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1.875rem;
                        height: 1px;
                        background-color: var(--ai-color-primary);
                        top: 50%;
                        transform: translateY(-50%);
                        left: 1rem;
                    }
                }
            }
            .text {
                color: var(--ai-color-white);
                max-width: 19rem;
                font-size: 1rem;
                @include xl-up {
                    font-size: 1.125rem;
                }
            }
        }
    }
}

// project area style here
.project_area {
    margin-bottom: 3.25rem;
    @include sm-up {
        margin-bottom: 4.25rem;
    }
    @include lg-up {
        margin-bottom: 5.25rem;
    }
    @include xl-up {
        margin-bottom: 6rem;
    }
    @include xxl-up {
        margin-bottom: 6.875rem; 
    }
    .section_title_wrapper {
        margin-bottom: 1.5rem;
        @include sm-up {
            @include flex-between;
        }
        .section_title {
            margin-bottom: 0;
        }
        .explore_btn {
            margin-bottom: 2rem;
            @include sm-up {
                margin-bottom: 0;
            }
            a {
                color: var(--ai-color-white);
                &:hover {
                    color: var(--ai-color-white);
                }
            }
        }
    }
    // single project css here
    .single_project {
        position: relative;
        transition: all .3s ease;
        height: 100%;

        .project_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .project_details {
            position: absolute;
            width: calc(100% - 60px);
            height: calc(100% - 60px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            visibility: visible;
            transition: all .3s ease;
            @include sm-up {
                width: calc(100% - 30px);
                height: calc(100% - 30px);
            }
            @include md-up {
                width: calc(100% - 60px);
                height: calc(100% - 60px);
            }
            @include lg-up {
                opacity: 0;
                visibility: hidden;
                transform: translate(-50%, -50%) scale(1.1);
            }

        }
        .project_content {
            background-color: var(--ai-color-secondary);
            padding: 1rem;
            width: 100%;
            height: 100%;
            position: relative;
            @include xl-up {
                padding: 2rem;
            }
            .primary-line {
                position: absolute;
                left: 1rem;
                bottom: 1rem; 
                @include sm-up {
                    display: none;
                }
                @include md-up {
                    display: block;
                }
                @include lg-up {
                    left: 2rem;
                    bottom: 2rem;
                }
                &::before {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 9.5rem;
                    background-color: var(--ai-color-primary);
                    bottom: 0;
                    left: 1rem;
                    @include sm-up {
                        height: 4.5rem;
                    }
                    @include lg-up {
                        height: 11rem;
                    }
                }
                &::after {
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 9.5rem;
                    background-color: var(--ai-color-primary);
                    left: 0;
                    bottom: 1rem;
                    @include sm-up {
                        width: 4.5rem;
                    }
                    @include lg-up {
                        width: 11rem;
                    }
                }
            }
            .secondary-line {
                position: absolute;
                top: 1rem;
                right: 1rem;
                @include sm-up {
                    display: none;
                }
                @include md-up {
                    display: block;
                }
                @include lg-up {
                    top: 2rem;
                    right: 2rem;
                }
                &::before {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 9.5rem;
                    background-color: var(--ai-color-black-300);
                    top: 0;
                    right: 1rem;
                    @include sm-up {
                        height: 4.5rem;
                    }
                    @include lg-up {
                        height: 11rem;
                    }
                }
                &::after {
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 9.5rem;
                    background-color: var(--ai-color-black-300);
                    right: 0;
                    top: 1rem;
                    @include sm-up {
                        width: 4.5rem;
                    }
                    @include lg-up {
                        width: 11rem;
                    }
                }
            }
        }
        .content {
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: end;
            flex-direction: column;
            padding-left: 2.5rem;
            padding-bottom: 2.5rem;
            @include sm-up {
                padding: 0;
            }
            @include md-up {
                padding-left: 2.5rem;
                padding-bottom: 2.5rem;
            }
            @include lg-up {
                padding-left: 3rem;
                padding-bottom: 3rem;
            }
            img {
                margin-bottom: 1rem;
                @include sm-up {
                    margin-bottom: 0.5rem;
                }
                @include md-up {
                    margin-bottom: 1rem;
                }
            }
        }
        .project_name {
            color: var(--ai-color-primary);
            font-size: 1.25rem;
            @include xl-up {
                font-size: 1.5rem;
            }
        }
        .text {
            color: var(--ai-color-white);
            font-size: 1rem;
            @include xl-up {
                font-size: 1.125rem;
            }
        }
        .top_line {
            position: absolute;
            right: 1rem;
            top: 1rem;
            @include xl-up {
                right: 2rem;
                top: 2rem;   
            }
        }
        .bottom_line {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            @include xl-up {
                bottom: 2rem;
                left: 2rem;
            }
        }
        &:hover {
            .project_details {
                @include lg-up {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    &.second_style {
        max-width: 99.5rem;
        margin-top: -28rem;
        position: relative;
        padding-top: 6.875rem;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: var(--ai-color-white);
        }
        .section_title {
            .title {
                color: var(--ai-color-secondary);
            }
        }
        .project-menu-wrapper {
            z-index: 5;
        }
        .project_menu_list {
            gap: 1.875rem;
            .secondary_outline_btn {
                color: var(--ai-color-secondary);
                border-color: var(--ai-color-secondary);
                &::before {
                    background-color: var(--ai-color-secondary);
                }
                &::after {
                    background-color: var(--ai-color-secondary);
                }
                &:hover {
                    color: var(--ai-color-primary);
                    border-color: var(--ai-color-primary);
                    &::before {
                        background-color: var(--ai-color-primary);
                    }
                    &::after {
                        background-color: var(--ai-color-primary);
                    }
                }
            }
        }
    }
}


// cta area style here
.cta_area {
    position: relative;
    padding: 3.875rem 0;
    background: center / cover no-repeat;
    @include md-up {
        padding: 4.875rem 0;
    }
    @include lg-up {
        padding: 6.875rem 0;
    }
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--ai-color-secondary);
        inset: 0;
        opacity: 0.8;
    }
    .cta_content {
        position: relative;
        z-index: 3;
        max-width: 21rem;
        @include sm-up {
            max-width: 28rem;
        }
        @include lg-up {
            max-width: 40rem;
        }
        .title {
            color: var(--ai-color-white);
            margin-bottom: 1.25rem;
            font-size: 1.5rem;
            @include sm-up {
                font-size: 1.8rem;
            }
            @include md-up {
                font-size: 2rem;
            }
            @include xl-up {
                font-size: 2.488rem;
            }
        }
        .text {
            color: var(--ai-color-white);
            max-width: 30rem;
            margin-bottom: 2.5rem;
            .project_nbr {
                color: var(--ai-color-primary);
                font-size: 1.25rem;
                display: inline-block;
                @include lg-up {
                    font-size: 1.5rem;
                }
            }
        }
        .button_group {
            margin-top: 2.5rem;
            @include flex-center;
            gap: 1.25rem;
        }
    }
    // bg lines 
    .bg-lines {
        position: absolute;
        inset: 0;
        max-width: 21rem;
        margin: 0 auto;
        z-index: 2;
        @include flex-between;
        @include sm-up {
            max-width: 30rem;
        }
        @include md-up {
            max-width: 40rem;
        }
        @include lg-up {
            max-width: 50rem;
        }
        @include xl-up {
            max-width: 60rem;
        }
        @include xxl-up {
            max-width: 80rem;
        }
        div {
            position: relative;
            width: 1px;
            height: 100%;
            background-color: var(--ai-color-secondary-300);
            z-index: 10;
            &.line1, &.line2 {
                &::before {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 1.25rem;
                    background-color: var(--ai-color-primary);
                    animation: topToBottom 25s linear infinite;
                }  
            }
            &.line2 {
                &::before {
                    animation: bottomToTop 25s linear infinite;
                }  
            }
        }
    }
}


// our team area style here
.ourTeam_area {
    margin: 3.25rem 0 2rem 0;
    @include sm-up {
        margin: 4.25rem 0 3rem 0;
    }
    @include lg-up {
        margin: 4.25rem 0 4rem 0;
    }
    @include xl-up {
        margin: 6rem 0 4.5rem 0;
    }
    @include xxl-up {
        margin: 7.5rem 0 6rem 0;
    }
    &.spacing {
        margin: 3.25rem 0 0 0;
        @include sm-up {
            margin: 4.25rem 0 0 0;
        }
        @include lg-up {
            margin: 4.25rem 0 0 0;
        }
        @include xl-up {
            margin: 6rem 0 0 0;
        }
        @include xxl-up {
            margin: 7.5rem 0 2.5rem 0;
        }
    }
    .section_title {
        margin-bottom: 2rem;
        @include lg-up {
            margin-bottom: 3rem;
        }
    }
}


// funfact area style here
.funfact_area {
    margin-bottom: 3.25rem;
    @include sm-up {
        margin-bottom: 4.25rem;
    }
    @include lg-up {
        margin-bottom: 5.25rem;
    }
    @include xl-up {
        margin-bottom: 6rem;
    }
    @include xxl-up {
        margin-bottom: 6.875rem; 
    }
    .funfact_item {
        .counter {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px var(--ai-color-secondary);
            font-size: 3.5rem;
            font-family: var(--ai-heading-font-family);
            font-weight: 700;
            position: relative;
            display: inline-block;
            &::before {
                position: absolute;
                content: "";
                width: 3.5rem;
                height: 3.5rem;
                background-color: var(--ai-color-primary-500);
                top: 30px;
                left: 0;
                z-index: -1;
                border-radius: 50px;
            }
        }
        .text {
            font-size: 1rem;
            font-family: var(--ai-heading-font-family);
            color: var(--ai-color-secondary);
            letter-spacing: 2px;
        }
    }
}

// blank area style here
.blank_area {
    background: cover / center no-repeat;
    height: 44rem;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: var(--ai-color-black);
        opacity: 0.8;
    }
}

// explore compare area style here
.explore_compare_area {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: var(--ai-color-secondary);
        opacity: 0.95;
    }
    // comparison image slider
    #compare_wrapper {
        position: relative;
        display: flex;
        overflow: hidden;
        height: 25rem;
        @include lg-up {
            height: 100%;
        }
    }
    
    .img-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .img-wrapper:nth-child(2) {
        clip-path: inset(0px 0px 0px 50%);
    }
    
    .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background-color: var(--ai-color-secondary);

        .icon {
            position: absolute;
            width: 3rem;
            height: 3rem;
            background-color: var(--ai-color-primary);
            @include flex-center;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 0 5px rgba(white, .5);
            @include xl-up {
                width: 4rem;
                height: 4rem;
            }
        }
    }
    
    input {
        appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        position: absolute;
        width: calc(100% + 4rem);
        height: 100%;
        left: -2rem;
        opacity: 0;
    }
    
    input:active::-webkit-slider-thumb {
        cursor: grabbing;
    }
    
    input:active::-moz-slider-thumb {
        cursor: grabbing;
    }

    // explore content style here
    .explore_content {
        padding: 2.5rem 1.5rem 2.5rem 1.5rem;
        position: relative;
        z-index: 5;
        @include lg-up {
            padding: 3rem;
        }
        @include xl-up {
            padding: 4rem;
            max-width: 45rem;
        }
        @include xxl-up {
            padding: 5rem;
            max-width: 50rem;
        }
        .button_group {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
            @include xl-up {
                gap: 1.75rem;
                margin-bottom: 2.5rem;
            }
        }
        .content {
            margin-bottom: 1.5rem;
            .text {
                color: var(--ai-color-white);
                font-size: 1rem;
                & + .text {
                    margin-top: 0.5rem;
                }
                @include xl-up {
                    font-size: 1.125rem;
                }
            }
        }
        .list_items {
            @include flex-between;
            flex-wrap: wrap;
            gap: 0.75rem;
            max-width: 22rem;
            margin-bottom: 1.5rem;
            @include xl-up {
                max-width: 26rem;
                gap: 1.25rem;
                margin-bottom: 2.5rem;
            }
            .list_item {
                font-family: var(--ai-heading-font-family);
                @include flex-center;
                gap: 0.675rem;
                color: var(--ai-color-slate-200);
                font-size: 1rem;
                @include xl-up {
                    font-size: 1.125rem;
                }
            }
        }
        .bottom_content {
           padding-top: 1.5rem;
           border-top: 1px solid var(--ai-color-secondary-500);
           display: flex;
           align-items: center;
           gap: .5rem;
           @include sm-up {
            gap: 2.5rem;
           }
           @include xl-up {
            padding-top: 2.5rem;
           }
           .contact_nbr {
                padding-left: .5rem;
                position: relative;
                @include sm-up {
                    padding-left: 2.5rem;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 3rem;
                    left: 0;
                    background-color: var(--ai-color-secondary-500);
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    visibility: hidden;
                    @include sm-up {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .contact_text {
                    font-size: 0.875rem;
                    color: var(--ai-color-primary);
                    display: inline-block;
                }
                .number {
                    color: var(--ai-color-white);
                    transition: all .3s ease;
                }
                &:hover {
                    .number {
                        color: var(--ai-color-primary);
                    }
                }
            }
        }
    }
}


// faq area style here
.faq_area {
    margin: 3.25rem 0;
    @include sm-up {
        margin: 4.25rem 0;
    }
    @include lg-up {
        margin: 5.25rem 0;
    }
    @include xl-up {
        margin: 6rem 0;
    }
    @include xxl-up {
        margin: 6.875rem 0; 
    }
    .section_title {
        margin-bottom: 2rem;
        @include lg-up {
            margin-bottom: 2.5rem;
        }
        .title {
            max-width: 100%;
        }
    }
    .faq_body {
        margin-bottom: 2.5rem;
        @include md-up {
            margin-bottom: 0;
        }
    }
    &.sercond_style {
        max-width: 99.5rem;
        margin: 0;
        margin-bottom: 3.25rem;
        @include sm-up {
            margin-bottom: 4.25rem;
        }
        @include lg-up {
            margin-bottom: 5.25rem;
        }
        @include xl-up {
            margin-bottom: 6rem;
        }
        @include xxl-up {
            margin-bottom: 6.875rem; 
        }
    }
}

// working step area style here 
.working_step_wrapper {
    margin-top: 3.25rem;
    @include sm-up {
        margin-top: 4.25rem;
    }
    @include lg-up {
        margin-top: 5.25rem;
    }
    @include xl-up {
        margin-top: 6rem;
    }
    @include xxl-up {
        margin-top: 6.875rem; 
    }
    .section_title {
        margin-bottom: 2rem;
        @include lg-up {
            margin-bottom: 2.5rem;
        }
        @include xl-up {
            margin-bottom: 3rem; 
        }
    }
}


// testimonial area style here
.testimonial_area {
    padding: 3.25rem 0;
    background: center / cover no-repeat;
    position: relative;
    @include sm-up {
        padding: 4.25rem 0; 
    }
    @include lg-up {
        padding: 5.25rem 0;
    }
    @include xl-up {
        padding: 6rem 0;
    }
    @include xxl-up { 
        padding: 6.5rem 0;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: var(--ai-color-secondary);
        inset: 0;
        z-index: 1;
        opacity: 0.9;
    }
    .testimonial_wrapper {
        position: relative;
        // testimonial line shape

        @include xl-up {

            // left line shape
            .left-box {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 7rem;
                height: 7rem;
                z-index: 10;
                &::before {
                    position: absolute;
                    content: '';
                    width: 6rem;
                    height: 1px;
                    background-color: var(--ai-color-primary);
                    left: -2.5rem;
                    bottom: 2.5rem;
                }
                &::after {
                    position: absolute;
                    content: '';
                    height: 6rem;
                    width: 1px;
                    background-color: var(--ai-color-primary);
                    left: -1.5rem;
                    top: -0.5rem;
                }
            }

            // right line shape
            .right-box {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 7rem;
                height: 7rem;
                z-index: 10;
                &::before {
                    position: absolute;
                    content: '';
                    width: 6rem;
                    height: 1px;
                    background-color: var(--ai-color-primary);
                    right: -2.5rem;
                    bottom: 2.5rem;
                }
                &::after {
                    position: absolute;
                    content: '';
                    height: 6rem;
                    width: 1px;
                    background-color: var(--ai-color-primary);
                    right: -1.5rem;
                    top: -0.5rem;
                }
            }
        }
    }
    .section_title {
        position: relative;
        z-index: 2;
        margin-bottom: 2rem;
        @include lg-up {
            margin-bottom: 2.5rem;
        }
        .title {
            color: var(--ai-color-white);
        }
    }
    .testimonial_slider {
        z-index: 5;
        padding-bottom: 4.25rem;
        margin-bottom: -4.25rem;
        .swiper-slide {
            border: 1px solid #57595D;
            padding: 0.375rem;
        }
        .swiper-pagination {
            bottom: 30px;
            @include sm-up {
                bottom: 1.25rem;
            }
            @include lg-up {
                bottom: 10px;
            }
            @include xl-up {
                display: none;
            }
            .swiper-pagination-bullet {
                background: var(--ai-color-primary);
            }
        }
        .single_item {
            background-color: var(--ai-color-white);
            padding: 2rem 1.5rem;
            position: relative;
            .client_info {
                display: flex;
                align-items: center;
                gap: 1.25rem;
                margin-bottom: 1rem;
            }
            .client_name {
                font-size: 1.125rem;
            }
            .location {
                font-size: 1rem;
                @include xl-up {
                    font-size: 1.125rem;
                }
            }
            .review {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                margin-top: 0.5rem;
                @include xl-up {
                    gap: 0.5rem;
                }
                i {
                    color: var(--ai-color-yellow);
                    font-size: 0.75rem;
                    @include xl-up {
                        font-size: 0.875rem;
                    }
                }
            }
            .text {
                font-size: 1rem;
                @include xl-up {
                    margin-bottom: 1.5rem;
                    font-size: 1.125rem;
                }
            }
            .quote_icon {
                position: absolute;
                content: '';
                bottom: 0.75rem;
                right: 1.375rem;
            }
        }
    }
}

// contact us area style here
.contact_us_area {
    background-color: var(--ai-color-white-200);
    .section_image {
        position: relative;
        img {
            width: 100%;
        }

        // our client slider style
        .client_slider_wrapper {
            max-width: 40rem;
            background-color: var(--ai-color-secondary);
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 5.875rem 3rem 5.875rem 4rem;
            
            // client image slider style here
            .client_image_slider {
                .swiper-slide {
                    // max-width: 2.5rem;
                    img {
                        max-width: 2.5rem;
                    }
                }
            }

            // client info slider style here
            .client_info_slider {
                .client-info {
                    img {
                        max-width: 4.625rem;
                        border-radius: 5rem;
                        margin-bottom: 1.875rem;
                    }
                    .client-name {
                        color: var(--ai-color-white);
                        font-size: 1.125rem;
                        font-weight: 500;
                    }
                    .client-location {
                        color: var(--ai-color-white);
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }
                    .stars {
                        gap: 0.5rem;
                        color: var(--ai-color-yellow);
                        font-size: 0.875rem;
                        margin-bottom: 1.875rem;
                    }
                    .client-text {
                        color: var(--ai-color-white);
                        font-size: 1rem;
                        padding-bottom: 4rem;
                    }
                }
            }
        }
    }

    // contact content 
    .contact_content {
        padding: 6.25rem;
    }

    // contact form
    .contact_form {
        label {
            font-size: 1rem;
            color: var(--ai-color-secondary);
            margin-bottom: 0.5rem;
        }
        // nice select plugin customization
        .nice-select {
            border: 1px solid var(--ai-color-broder-200);
            border-radius: 0;
            height: 50px;
            font-size: 1rem;
            &:focus {
                border-color: var(--ai-color-primary);
            }
            .current {
                line-height: 48px;
            }
        }
        // submit button
        .submit_btn {
            margin-top: 0.5rem;
        }
    }
}


// blog area style here
.blog_area {
    position: relative;
    padding: 3.25rem 0;
    background: cover / center no-repeat;
    @include sm-up {
        padding: 4.25rem 0;
    }
    @include lg-up {
        padding: 5.25rem 0;
    }
    @include xl-up {
        padding: 6rem 0;
    }
    @include xxl-up {
        padding: 6.875rem 0; 
    }
    &.spacing {

    }
    .section_title {
        margin-bottom: 2rem;
        @include xl-up {
            margin-bottom: 2.5rem;
        }

    }
    .single_blog {
        border: 1px solid var(--ai-color-slate);
        padding: 1rem;
        @include sm-up {
            padding: 1.5rem;
        }
        @include md-up {
            padding: 1rem;
        }
        @include xl-up {
            padding: 1.875rem;   
        }
        &:hover {
            .blog-image {
                a {
                    img {
                        transform: scale(1.07);
                    }
                } 
            }
        }
    }
    // blog image
    .blog-image {
        position: relative;
        margin-bottom: 1.25rem;
        a {
            width: 100%;
            display: block;
            overflow: hidden;
        }
        img {
            width: 100%;
            transition: all .5s ease;
        }
        .published_date {
            position: absolute;
            top: 0;
            left: 0;
            width: 3rem;
            height: 3rem;
            background: var(--ai-color-secondary);
            @include flex-center;
            color: var(--ai-color-primary);
            font-size: 1rem;
            font-family: var(--ai-global-font-family);
            line-height: 1.2;
            overflow: hidden;
            @include md-up {
                width: 3.2rem;
                height: 3.2rem;
                font-size: 1.125rem;
            }
            @include xxl-up {
                width: 4rem;
                height: 4rem;
                font-size: 1.5rem;
            }
        }
    }
    // blog post
    .blog_post {
        position: relative;
        margin-bottom: 3rem;
        a {
            display: block;
            overflow: hidden;
            img {
                width: 100%;
                transition: all .5s ease;
            }
        }
        &:hover {
            a {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
    .content_box {
        max-width: 32rem;
        background-color: var(--ai-color-white);
        padding: 3rem;
        position: absolute;
        right: 0;
        bottom: -60%;
        transform: translateY(-50%);
    }
    // blog meta
    .blog-meta {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 0.5rem;
        @include lg-up {
            gap: 10px;
        }
        .single_meta {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .icon {
                flex: 0 0 1rem;
                img {
                    width: 100%;
                }
            }
            .name {
                flex: 1;
                font-size: 0.875rem;
            }

            & + .single_meta {
                padding-left: 15px;
                position: relative;
                @include lg-up {
                    padding-left: 10px;
                }
                &::before {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 0.875rem;
                    background: var(--ai-color-slate);
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }
        }
    }
    // blog content
    .blog-content {
        .title {
            font-size: 1.125rem;
            color: var(--ai-color-secondary);
            display: inline;
            background-position: 100% 100%;
            background-repeat: no-repeat;
            transition: all 0.5s ease;
            background-size: 201% 1px;
            background-image: linear-gradient(to right, var(--ai-color-primary) 50%, transparent 50%);
            @include md-up {
                max-width: 18remw;
            }
            @include xl-up {
                font-size: 1.25rem;
                max-width: 18rem;
            }
            @include xxl-up {
                max-width: 21rem;
            }
            &:hover {
                color: var(--ai-color-primary);
                background-position: 0% 100%;
            }
        }
        .text {
            font-size: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            @include xl-up {
                font-size: 1.125rem;
            }
        }
        &.add_style {
            position: relative;
            padding-bottom: 1rem;
            &::before {
                position: absolute;
                content: '';
                width: 1px;
                height: 10rem;
                right: -1.5rem;
                top: 0;
                background-color: var(--ai-color-slate-500);
            }
            &::after {
                position: absolute;
                content: '';
                width: 8.25rem;
                height: 1px;
                right: -3rem;
                bottom: 0;
                background-color: var(--ai-color-slate-500);
            }
        }
    }

    // background shape css
    .bg_shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        bottom: 0;
    }
}

// brand area style here
.brand_wrapper {
    margin-top: 9rem;
    .brand_slider {
        .swiper-wrapper {
            transition-timing-function: linear;
        }
    }
}