.breadcrumb {
    justify-content: center;
    margin: 0;
    align-items: center;

    .breadcrumb-item {
        li {
            font-size: 18px;
        }
        & + .breadcrumb-item {
            &::before {
                content: '\f101';
                color: white;
                font: 200 20px / 1.6 var(--ai-fontAwesome);
            }
        }
    }
}
