.searchbox {
    position: fixed;
    inset: 0;
    z-index: 1025;
    background-color: rgba(#fff, .9);
    @include flex-center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    transform: translateY(-100%);
    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    form {
        max-width: 600px;
        margin: 0 auto;

        input {
            height: 60px;
            border: 0;
            border-bottom: 2px solid var(--mr-color-primary);
            border-radius: 0;
            outline: none;
            background-color: transparent;
            padding: 0 15px;
            font-family: var(--mr-heading-font-family);
            font-size: 20px;

            &:focus {
                border-color: var(--mr-color-primary);
            }
        }
    }

    .closeSearchBox {
        background-color: var(--mr-color-primary);
        color: white;
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        border-radius: 50%;
        @include width-height(50px, 50px);
        font-size: 18px;
        transition: all .15s ease;
        @include flex-center;

        i {
            transition: all .15s ease;
        }
        &:hover {
            background-color: var(--mr-color-primary);

            i {
                transform: rotate(180deg);
            }
        }
    }
}